/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/riboseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

resume = true
workDir = './nextflow_work'

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: RIBOCODE_METAPLOTS {
        ext.args = '-f0_percent 0.1 -pv1 1 -pv2 1'
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    custom_config_base         = null

    riboseq_base_dir     = System.getenv('RIBOSEQ_BASE_DIR')     ?: "${launchDir}"
    riboseq_pipeline_dir = System.getenv('RIBOSEQ_PIPELINE_DIR') ?: "${params.riboseq_base_dir}"
    riboseq_project_dir  = System.getenv('RIBOSEQ_PROJECT_DIR')  ?: "${params.riboseq_base_dir}/testdata"
    riboseq_fasta_dir    = System.getenv('RIBOSEQ_FASTA_DIR')    ?: "${params.riboseq_project_dir}/reference"
    riboseq_gtf_dir      = System.getenv('RIBOSEQ_GTF_DIR')      ?: "${params.riboseq_project_dir}/reference"
    riboseq_rnadb_dir    = System.getenv('RIBOSEQ_RNADB_DIR')    ?: "${params.riboseq_pipeline_dir}/RNAdb"

    // Alignment / pseudo-alignment index parameters
    // Explicit defaults to avoid \"undefined parameter\" warnings in tests
    salmon_index          = null
    kallisto_index        = null
    skip_pseudo_alignment = false
    // salmon or kallisto
    pseudo_aligner        = 'kallisto'
    sortmerna_index       = null
    star_index            = null
    bbsplit_index         = null
    transcript_fasta      = null
    transcript_fasta_index = null
    additional_fasta      = null
    additional_fasta_index = null
    gff                  = null
    gff_index            = null

    // Input data
    input = "${params.riboseq_project_dir}/samplesheet/samplesheet_local.csv"
    contrasts = "${params.riboseq_project_dir}/contrasts.csv"
    ribo_database_manifest = "${params.riboseq_rnadb_dir}/rrna-db-full_local.txt"
    fasta = "${params.riboseq_fasta_dir}/Homo_sapiens.GRCh38.dna.chromosome.20.fa.gz"
    gtf = "${params.riboseq_gtf_dir}/Homo_sapiens.GRCh38.111_chr20.gtf"
    skip_gtf_filter = false
    min_trimmed_reads = 1000

    skip_bbsplit = false
    bbsplit_fasta_list = "${params.riboseq_rnadb_dir}/bbsplit_refs_for_human.csv"

    // Ribotricer parameters
    skip_ribotricer = true
    extra_fqlint_args = '--disable-validator P001 --disable-validator S007'
}
