/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/riboseq -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

resume = true
workDir = './nextflow_work'

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = "${launchDir}/test-datasets-riboseq/samplesheet/samplesheet_local.csv"
    contrasts = "${launchDir}/test-datasets-riboseq/contrasts.csv"
    ribo_database_manifest = "${launchDir}/test-datasets-riboseq/testdata/rrna-db_local.txt"
    fasta = "${launchDir}/test-datasets-riboseq/Homo_sapiens.GRCh38.dna.chromosome.20.fa.gz"
    gtf = "${launchDir}/test-datasets-riboseq/Homo_sapiens.GRCh38.111_chr20.gtf"
    min_trimmed_reads = 1000

    skip_ribotricer = true
    extra_fqlint_args = '--disable-validator P001 --disable-validator S007'
}
